{% extends 'django_users/base.html' %}
{% load bootstrap3 %}

{% block content %}
    {% if validlink %}
        <div class="jumbotron">
            <h1 class="text text-center">Enter your new password!</h1>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Confirm change">
            </form>

        </div>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>
    {% endif %}
{% endblock %}