{% extends 'django_shop/base.html' %}
{% block title %}
    My Cart
{% endblock %}

{% block content %}
    <h1> Welcome {{ customer.get_full_name }}</h1>
    <h2> This is your current shopping cart:</h2>
    {% if customer.shopping_cart.items.all %}
        <table class="table">

            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price/Item</th>
                <th scope="col">Total Price</th>
            </tr>

            {% for product in customer.shopping_cart.items.all %}

                <tr>
                    <td>{{ product.product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.get_total_cost }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><b>Total:</b></td>
                <td></td>
                <td></td>
                <td><b>{{ customer.shopping_cart.get_total_cost }}</b></td>
            </tr>
        </table>
        <p>Date created: {{ customer.shopping_cart.created }}</p>
        {% if checkout_available %}
            <a class="btn btn-success" href="{% url 'django_shop:checkout' available=checkout_available %}">Checkout</a>
        {% else %}
            <a class="btn btn-success disabled">Checkout</a>
        {% endif %}
        <div class="jumbotron">
            {% block checkout %}
            {% endblock %}
        </div>

    {% else %}
        <p>No products added to cart yet, you can browse <a href="{% url 'django_shop:product_list' %}">our product
            list</a>!</p>
    {% endif %}
{% endblock %}